apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - postgres.yaml
  - persistentvolume.yaml
  - persistentvolumeclaim.yaml
  - db-config.yaml
  - ingress.yaml
