apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      initContainers:
        - name: wait-for-postgres
          image: busybox
          command:
            - sh
            - -c
            - |
              echo "Waiting for Postgres to be ready..."
              until nc -z todo-postgres 5432; do
                echo "Postgres is unavailable - sleeping"
                sleep 2
              done
              echo "Postgres is up - continuing"
      containers:
        - name: todo-backend
          image: jvilo/todo-backend:4.555
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: todo-db-config
            - secretRef:
                name: todo-db-secret
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 64Mi
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 3
      restartPolicy: Always

