apiVersion: v1
kind: Service
metadata:
  name: todo-backend-service
  namespace: project
spec:
  type: NodePort
  selector:
    app: todo-backend
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
